services:
  zsync-runner:
    build: .
    container_name: zsync-runner
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - RUNNER_ALLOW_RUNASROOT=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    runtime: nvidia
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
